<p>Hello <%= @email %>!</p>

<p>You has requested your school code. You School code is given below.</p>

<p>School Code: <%= @token %></p>

<p>If you didn't request this, please ignore this email.</p>
